body{
    line-height: 32px;
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Fredericka the Great'
}
.h2Work{
    color: orange!important
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hrLight{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.hrOrange{
    background-image: linear-gradient(to right, rgb(255, 165, 0, 0), rgb(255, 165, 0, 0.75), rgb(255, 165, 0, 0));
}
video {
  height: 100vh;
  width: 100%;
  object-fit: fill;
  position: absolute;
}
.work{
    background-image: url('../img/work.jpg');
     min-height: 700px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    text-align: left;
}
/* .cover{
    background-image: url('../img/70743-OD11UV-494.jpg');
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
} */
.cover-content {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
li a{
    padding: 03px 20px!important;
    font-family: 'Fredericka the Great'
}
.lineLeft{
    height: 1px;
    background: linear-gradient(to right, orange, orangered);
    opacity: 0;
    
}
.lineRight{
    opacity: 0;
    height: 1px;
    background: linear-gradient(to left, orange, orangered);
}
li:hover .lineLeft{
    opacity: 1;
    animation: lineTransferLeft .3s  0s linear;
}
li:hover .lineRight{
    opacity: 1;
    animation: lineTransferRight .3s  0s linear;
}
.active .lineLeft, .active .lineRight{
    opacity: 1;
}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background: none!important;
}
.clear{
    clear: both;
}

@keyframes lineTransferRight{
    0%{
      width: 0%;
      float: right
    }
    10%{
      width: 10%;
      float: right
    }
    50%{
      width: 50%;
      float: right

    }
    100%{
      width: 100%;
      float: right
    }
  }

  @keyframes lineTransferLeft{
    0%{
      width: 0%;
    }
    10%{
      width: 10%;
    }
    50%{
      width: 50%;
    }
    100%{
      width: 100%;
    }
  }

  .btnStyle{
    border-image: linear-gradient(to right, orangered 0%,orange 100%);
    border-image-slice: 1;
    border-width: 1px;
    background: transparent;
    color: white;
    padding: 8px 16px;
    outline-style: none!important;
    margin: 0 10px;
  }
  .btnStyle:hover{
    box-shadow: 0 0 50px 0 rgba(247,149,30,.35), 0 0 20px 0 rgba(247,149,30,.3) inset;
    text-shadow: 0 0 3px #fff;
    cursor: pointer;
    outline-style: none!important;

  }
  .cover-sub{
      font-size: 30px
  }
  .icon button:hover{
      animation: tada 1s  forwards linear;
  }
  i{
      height: 30px;
      width: 20px;
  }
@keyframes arrowDown{
    0%{
        }
    50%{
        transform: translateY(10px);
        }
    100%{
        }
}
/* timelines */

:root {
	--white: #ffffff;
	--black: #000000;
	--blue:orange;
	--gray:#ebebeb;
	--box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--blue);
}
.timeline p, .timeline time {
    color: var(--blue);
    margin-bottom: 0;
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--blue);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0;
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px dashed orange;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: orange;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}

.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}
.timeline-content p{
    color: black!important
}
/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}
/* skills */
.progress{
    margin-bottom: 30px;
   
}


@keyframes yourAnimation{
    0%{
        width: 0%;
        }
    10%{
        width: 10%;
        }
    50%{
        width: 50%;
        }
    100%{
        width: 90%;
        }
}

.elementToAnimate{
    animation: yourAnimation 1s infinite 0s linear;
}

/* contact */
.md-form input[type=text]:focus{
    border-bottom: 1px solid orange!important;
    box-shadow: none!important;
    color: orange
}
.md-form label:focus{
    color: orange
}
.md-form input[type=text]:focus:not([readonly]) + label { color: orange; }
textarea:focus{
    border-bottom: 1px solid orange!important;
    box-shadow: none!important;
    color: orange!important;
}
.md-form textarea.md-textarea:focus+ label { color: orange!important; }


@media (max-width: 512px) {
    button{
        margin: 0;
        padding: 0;

    }
    .btnStyle{
        margin: 0;
        margin-bottom: 5px
    }
  }

  .btnStyle1{
    background-image: linear-gradient(to right, #f6d365 ,#fda085, #f6d365 );
  background-size: 200% auto;
  transition: 0.5s;
  color: #000;
  text-shadow: 0 0 1px;
  margin: 0
  }
  .btnStyle1:hover{
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-shadow: 0 0 1px;
  }
  button a{
      color: black!important
  }

/* respontive */
@media screen and (max-width: 768px) {
   .text-responsive{
       line-height: 46px!important;
       font-size: 32px!important
   }
   .col-lg-6{
       margin-bottom: 0!important;
   }
   .col-md-4{
       margin-bottom: 25px!important;
   }
   .row{
       margin: 0!important;
   }
   .btnStyle1{
       margin-bottom: 25px!important;
   }
   .timeline-image::before {
    width: 30px;
    height: 30px;
   }
  }
  /* end */
  